table,tr,th{
  border: 2px solid black;
  background-color: yellow;
  border-collapse:collapse;
  width: 10%;
  font-size: 100%;
}

button{
  width: 100%;
  height: 100%;
  font-size: 100%;
  border-width:1px;
}
input{
  width:90%;
  border: 2px solid black;
  font-size: 100%;
}
body {
  background-color: #8199F9;
  font-size: 100%;
  
}
table.center{
  margin-left: auto;
  margin-right: auto;
}
h1,footer{
  text-align: center;
}
